<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a597e5fe-3c45-4412-b944-53e730b31c57/resourcegroups/Learn-7f108ab2-1344-47b0-bee0-4e500783bee0/providers/Microsoft.Web/sites/ContosoUniversityDevAzure</ResourceId>
    <ResourceGroup>Learn-7f108ab2-1344-47b0-bee0-4e500783bee0</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contosouniversitydevazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contosouniversitydevazure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContosoUniversityDevAzure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContosoUniversityDevAzure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:contosouniversitydevazuredbserver.database.windows.net,1433;Initial Catalog=ContosoUniversityDevAzure_db;User ID=hammad@contosouniversitydevazuredbserver;Password=inte1GREAT" Name="Data Source=tcp:contosouniversitydevazuredbserver.database.windows.net,1433;Initial Catalog=ContosoUniversityDevAzure_db;User Id=hammad@contosouniversitydevazuredbserver;Password=inte1GREAT" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contosouniversitydevazuredbserver.database.windows.net,1433;Initial Catalog=ContosoUniversityDevAzure_db;User Id=hammad@contosouniversitydevazuredbserver;Password=inte1GREAT</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contosouniversitydevazuredbserver.database.windows.net,1433;Initial Catalog=ContosoUniversityDevAzure_db;User Id=hammad@contosouniversitydevazuredbserver;Password=inte1GREAT</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>